body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  width: 95%;
}
.main__done {
  text-decoration:line-through;
  text-align: left;
}

.main__outstanding {
  text-align: left;
}

.main__search{
  text-decoration:line-through;
  width: 100%;
  text-align: left;
}
.main__search_input{
  width: 97%;
}

.list-item{
  width: 100%;
  height: 40px;
}